@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #CF136B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
